<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
</head>
<body>
    <form action="loginuser">
     <h1>Enter your Login Details</h1>
     <!-- name attribute is used for server refernce of given tag -->
     <input type="email" name="email" id="" placeholder="Email"><br>
     <input type="password" name="password" id="" placeholder="Password"><br>
     <button type="submit">Log In</button>
    </form>
</body>
</html>